@{
    ViewBag.Title = "Index";
}

<h3>Index</h3>
<ul>
    <li><a href="/product/details">Laptops</a></li>
    <li><a href="/product/details">Desktop</a></li>
    <li><a href="/product/details">Tablet</a></li>
</ul>
